ACTION=="add", KERNEL=="st231-0", SUBSYSTEM=="coproc-dev", RUN+="/usr/bin/ustslave /dev/st231-0 @FW_DIR@/video.elf"
ACTION=="add", KERNEL=="st231-1", SUBSYSTEM=="coproc-dev", RUN+="/usr/bin/ustslave /dev/st231-1 @FW_DIR@/audio.elf"
